.copyright{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
}
p{
    /* display: block; */
    margin: 0 auto;
    padding: 0 auto;
}
.main-footer{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    background-color: #41414127;
    padding: 10px;
}
.foot-ul{
    list-style-type: none;
}
.foot-li:hover{
    opacity: 0.8;
}
.foot-li{
    margin-bottom: 10px;;
}
.foot-li-main{
    font-size: 20px;
    margin-bottom: 12px;
}
.defination-wrapper{
    display: flex;
}
.defination{
    /* justify-content: right; */
    max-width: 500px;
    margin:0;
}
footer{
    margin:0;
    width: 100%;

}
.left-footer{
    display: grid;
    grid-template-rows: 50px auto;
    height: auto;
    justify-items: left;

}
@media(max-width: 490px){
    .portfolio-header-foot{
        display: none;
    }
}