header {
    display: grid;
    grid-template-columns: 1fr auto;
    /* margin: 0 0 10px 0; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: rgba(245, 245, 245, 0.014);
    padding: 10px 30px 10px 40px;
    backdrop-filter: blur(8px);


}

.header-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

li {
    margin: 0 10px;
}

a {

    text-decoration: none;
    color: white;
}

.attribute-header {
    text-decoration: none;
    color: white;
    transition: border-bottom 0.2s, opacity 0.2s;
    border-bottom: 0px solid rgba(255, 255, 255, 0);

}

.attribute-header:hover {
    opacity: 0.7;
    border-bottom: 2px solid white;
}

.heading {
    font-size: 20px;
    font-weight: bold;
}

p {
    margin: 0;
}

.headinga:hover {
    opacity: 0.9;
    border-bottom: none;
}
/* 
@media(min-width: 1196px) {
    header {
        padding-left: 90px;
        padding-right: 90px;
    }
}@media(max-width: 1196px) {
    header {
        padding-left: 90px;
        padding-right: 90px;
    }
}

@media(min-width: 1370px) {
    header {

        padding-left: 130px;
        padding-right: 130px
    }
}

@media(max-width: 603px) {
    header {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media(max-width: 516px) {
    header {
        padding-left: 10px;
        padding-right: 10px;
    }

} */

/* Hamburger icon style */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
}

/* Responsive styles */
@media(max-width: 768px) {
    .hamburger {
        display: flex;
        z-index: 50;
    }

    .header-list {
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px 0;
        display: none;
    }

    .header-list.show {
        display: flex;
    }

    .header-list li {
        margin: 0;
    }

    header {
        grid-template-columns: 1fr auto;
        align-items: center;
    }
}