.project-image {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;

}
.project-image:hover {
    filter: blur(1px);
}

.project {
    margin: 10px;
    display: flex;

    /* grid-template-columns: 1fr 1fr 1fr; */
    width: 400px;
    /* height: 200px; */
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-content: center;

}

.hovercard {
    position: relative;
    width: 100%;
    /* height: 200px; */
    /* background-color: #ddd; */
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.hover-content {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.219), rgba(0, 225, 255, 0.918));
    /* blue background */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: bottom 0.4s ease-in-out;
}

.hovercard:hover .hover-content {
    bottom: 0;

}

.hovercard:hover .project-image {
    filter: blur(2px);

}

.project-description {
    margin-bottom: 6px;
    ;
}

.arrow-website {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    text-decoration: none;
}

.arrow-website:hover {
    text-decoration: none;
}

.project-heading {
    font-size: 28px;
    font-weight: bold;
}

@media(max-width:1258px) {
    .project {
        width: 450px;
    }
}

@media(max-width:950px) {
    .project {
        width: 400px;
    }
}

@media(max-width: 836px) {
    .project {
        width: 350px;
    }
}

@media(max-width: 740px) {
    .project {
        width: 300px;
    }
}

@media(max-width:635px) {
    .project {
        width: 450px;
        display: block;
        margin: 0 auto;
    }
}

@media(max-width:480px) {
    .project {
        width: 400px;
    }
}

@media(max-width:400px) {
    .project {
        width: 370px;
        margin-left: auto;
    }
}