.projects-app{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    /* padding-top: 50px; */
}
@media(max-width:1258px){
    .projects-app{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:635px){
    .projects-app{
        /* grid-template-columns: 1fr; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin: 0 auto; */
        width: 100%;
    }
}
.project-title{
    text-align: center;
    scroll-margin-top: 60px;

}